.banner {
  padding-top: 6.375rem;
  padding-right: $mainPadding;
  padding-bottom: 5.5rem;
  padding-left: $mainPadding;
  background-color: $brightRed;
  text-align: center;

  background-image: url("../images/bg-simplify-section-mobile.svg");
  background-repeat: no-repeat;
  background-position: center left;

  @include breakpoint-up(large) {
    display: flex;
    justify-content: space-between;
    padding-right: $mainPaddingLg;
    padding-left: $mainPaddingLg;

    background-image: url("../images/bg-simplify-section-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
  }

  &__heading {
    margin-bottom: 1.625rem;
    color: $veryLightGray;

    @include breakpoint-up(medium) {
      font-size: 2.5rem;
    }
    @include breakpoint-up(large) {
      margin-bottom: 0;
      text-align: left;
    }
  }

  .btn {
    margin-bottom: 5.625rem;
    margin-bottom: 0;
    @include breakpoint-up(large) {
      align-self: center;
    }
  }
}
