.hero {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 6.375rem;
  padding-right: $mainPadding;
  padding-left: $mainPadding;

  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-position: 260% 90%;
  background-size: 75%;

  @include breakpoint-up(medium) {
    background-position: 130% 99%;
    background-size: 40%;
  }

  @include breakpoint-up(large) {
    background-image: none;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6.75rem;
    padding-right: $mainPaddingLg;
    padding-left: $mainPaddingLg;
  }

  &__content {
    grid-row: 2 / 2;
    text-align: center;

    @include breakpoint-up(large) {
      grid-row: 1/1;
      text-align: left;
    }
  }

  &__title {
    @include breakpoint-up(large) {
      padding-top: 3.5rem;
    }
  }

  &__text {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    @include breakpoint-up(large) {
      margin-left: 0;
      margin-right: 0;
      width: 60%;
    }
  }

  &__image-container {
    grid-row: 1 / 1;
    justify-self: center;

    @include breakpoint-up(large) {
      justify-self: end;
    }
  }

  &__image {
    //height: 18.5rem;
    width: 100%;
    margin: auto;

    @include breakpoint-up(large) {
      transform: translateX(1rem);
    }
  }
}
