.testimonials {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  text-align: center;
  position: relative;
  margin-bottom: 2.625rem;
  padding-right: $mainPadding;
  padding-left: $mainPadding;
  height: 35.25rem;

  @include breakpoint-up(large) {
    //height: auto;
    margin-bottom: 11.25rem;
  }

  &__heading {
    margin-bottom: 6rem;

    @include breakpoint-up(large) {
      margin-bottom: 6.625rem;
    }
  }

  &__cards {
    position: relative;
  }

  &__btn-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  &__display-bar {
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
  }

  &__dot {
    display: block;
    width: 10px;
    height: 10px;
    border: $brightRed 1px solid;
    border-radius: 15px;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 0.1875rem;
    }

    &.dot--active {
      background-color: $brightRed;
    }
  }
}

.card {
  position: absolute;
  margin: auto;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  padding-top: 4rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  background-color: darken($veryLightGray, 4%);
  min-width: 20.625rem;
  max-width: 33rem;

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__profile-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4.5rem;
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__text {
    padding-bottom: 2.875rem;
  }
}
