.testimonials {
  text-align: center;
  position: relative;
  margin-bottom: 2.625rem;
  padding-right: $mainPadding;
  padding-left: $mainPadding;
  height: 35.25rem;

  @include breakpoint-up(large) {
    padding: 0;
    margin-bottom: 11.25rem;
  }

  &__heading {
    margin-bottom: 6rem;

    @include breakpoint-up(large) {
      margin-bottom: 6.625rem;
    }
  }

  &__cards {
    @include breakpoint-up(large) {
      animation: scroll 50000ms linear infinite;
      width: calc(35rem * 8);
      display: flex;
    }
  }

  &__btn-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint-up(large) {
      position: relative;
      left: unset;
      transform: unset;
    }
  }

  &__display-bar {
    justify-content: center;
    display: flex;
    margin-bottom: 2rem;
  }

  &__dot {
    display: block;
    width: 10px;
    height: 10px;
    border: $brightRed 1px solid;
    border-radius: 15px;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 0.1875rem;
    }

    &.dot--active {
      background-color: $brightRed;
    }
  }
}

.card {
  position: absolute;
  margin: auto;
  left: 50%;
  opacity: 0;
  // transition: 5s ease-in-out;
  transform: translateX(-50%);
  padding-top: 4rem;
  padding-right: 1.75rem;
  padding-left: 1.75rem;
  background-color: darken($veryLightGray, 4%);
  min-width: 20.625rem;
  max-width: 33rem;
  overflow: visible;

  @include breakpoint-up(large) {
    width: 33rem;
    position: relative;
    left: unset;
    margin: 0 2rem 0 0;
    opacity: 1;
    transform: none;
  }

  &--active {
    visibility: visible;
    opacity: 1;
  }

  &__profile-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 4.5rem;
  }

  &__heading {
    margin-bottom: 2rem;
  }

  &__text {
    padding-bottom: 2.875rem;
  }
}

.desktop-flex-wrapper {
  @include breakpoint-up(large) {
    height: 20.8rem;
    padding-top: 2.5rem;
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-bottom: 2rem;
  }

  &:before,
  &:after {
    display: block;
    position: absolute;
    top: 0;
    content: "";
    height: 100%;
    width: 3rem;
    background-image: linear-gradient(
      to right,
      rgba(250, 250, 250, 1),
      rgba(250, 250, 250, 0)
    );
    z-index: 3;
  }

  &:after {
    right: 0;
    background-image: linear-gradient(
      to right,
      rgba(250, 250, 250, 0),
      rgba(250, 250, 250, 1)
    );
  }
}
